---
layout: default
title: Contact
description: Click here to contact GitLab and get help, contact sales, find us on social media, office address and directions.
suppress_header: true
extra_js:
  - contact.js
extra_css:
  - community.css
  - contact.css
---

.blank-header.contact-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  %h1 Contact
.community-content.contact-content
  .newsletters-signup-container
    .newsletter-signup-container.flex-container.justify-center.align-center#newsletter
      .newsletter-form-content.flex-container.flex-column.justify-center.align-center
        %h3 🚀 Sign up for our newsletter
        %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
        %form#mktoForm_1073
        :javascript
          MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1073, function(form) {
            form.onSuccess(function(values, followUpUrl) {
              form.getFormElem().hide();
              document.getElementById('confirmformnewlsetter').style.visibility = 'visible';

              dataLayer.push({event: 'mktoLead', mktoFormId: form.getId()});
              return false;
            });
            function getgacid() {
              try {
                var tracker = ga.getAll()[0];
                return tracker.get('clientId');
              } catch (e) {
                return 'n/a';
              }
            }
            form.vals({
              'gacid': getgacid()
            });
          });
        #confirmformnewlsetter{style: "visibility:hidden;"}
          %p.thanks-subscribing
            Thanks for subscribing!
            %a{href: "https://www.twitter.com/gitlab", target: "_blank"}
              Follow us on twitter
            for even more updates!
        -# %p.hint-message *If you subscribe, you’ll receive our twice-monthly newsletter (which is super awesome)
        %a.switch-forms{ href: "#security-notices" } Click here if you want security updates instead
    .wave
    .wave
    .newsletter-signup-container.flex-container.justify-center.align-center#security-notices
      .newsletter-form-content.flex-container.flex-column.justify-center.align-center
        %h3 🔒 Sign up for security notices
        %form#mktoForm_1102
        :javascript
          MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1102, function(form) {
            form.onSuccess(function(values, followUpUrl) {

              form.getFormElem().hide();
              document.getElementById('confirmform').style.visibility = 'visible';

              dataLayer.push({event: 'mktoLead',mktoFormId: form.getId()});
              return false;
            });
            function getgacid() {
              try {
                var tracker = ga.getAll()[0];
                return tracker.get('clientId');
              } catch (e) {
                return 'n/a';
              }
            }
            form.vals({
              'gacid': getgacid()
            });
          });
        #confirmform{style: "visibility:hidden;"}
          %p.thanks-subscribing
            Thanks for subscribing!
            %a{href: "https://www.twitter.com/gitlab", target: "_blank"}
              Follow us on twitter
            for even more updates!
        -# %p.hint-message *If you subscribe, you will receive notifications about security updates.
        %a.switch-forms{ href: "#newsletter" } Go to the newsletter sign up
  .flex-container.community-content-row
    %a.community-item{href: "/get-help/"}
      %img{src: "/images/community/community-help.svg"}
      .community-item-info
        %h4 Get help
        %p How to get technical and account support.
    %a.community-item{href: "/sales/"}
      %img{src: "/images/contact/contact-sales.svg"}
      .community-item-info
        %h4 Contact Sales
        %p Contact our sales team for any questions about GitLab.
    %a.community-item{href: "http://twitter.com/gitlab"}
      %img{src: "/images/contact/contact-twitter.svg"}
      .community-item-info
        %h4 Twitter
        %p Follow us on Twitter for the most up-to-date info about @gitlab.
  .flex-container.community-content-row
    %a.community-item{href: "/company/visiting/"}
      %img{src: "/images/contact/contact-office.svg"}
      .community-item-info
        %h4 Visit our office
        %p How to visit our office in San Francisco.
    %a.community-item{href: "/security/disclosure/"}
      %img{src: "/images/contact/contact-security.svg"}
      .community-item-info
        %h4 Security
        %p If you want to test the security of GitLab or if you think you have found a problem please see our Responsible Disclosure Policy.
    %a.community-item{href: "https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md/"}
      %img{src: "/images/contact/contact-website.svg"}
      .community-item-info
        %h4 Website
        %p This website is created from a public repository. If you see a potential improvement please contribute to this website.
  .flex-container.community-content-row
    %a.community-item{href: "/company/preference-center/"}
      %img{src: "/images/contact/contact-press.svg"}
      .community-item-info
        %h4 Communication preferences
        %p Update your preferences to subscribe to and unsubscribe from email communications.
    %a.community-item{href: "/press/"}
      %img{src: "/images/contact/contact-press.svg"}
      .community-item-info
        %h4 Press inquiries
        %p Information on press-related inquiries.
